<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PitchServlet</servlet-name>
        <servlet-class>controller.PitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingTimeServlet</servlet-name>
        <servlet-class>controller.BookingTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>controller.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryBookingPitchServlet</servlet-name>
        <servlet-class>controller.HistoryBookingPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistoryBookPitchServlet</servlet-name>
        <servlet-class>controller.DeleteHistoryBookPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesControlServlet</servlet-name>
        <servlet-class>controller.CategoriesControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductServlet</servlet-name>
        <servlet-class>controller.LoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProduct</servlet-name>
        <servlet-class>controller.SortProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackPitchServlet</servlet-name>
        <servlet-class>controller.FeedBackPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackProductServlet</servlet-name>
        <servlet-class>controller.DeleteFeedbackProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListHistory</servlet-name>
        <servlet-class>controller.OrderListHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>controller.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyingServlet</servlet-name>
        <servlet-class>controller.BuyingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowingServlet</servlet-name>
        <servlet-class>controller.ShowingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controller.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnURLController</servlet-name>
        <servlet-class>controller.ReturnURLController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackPitchServlet</servlet-name>
        <servlet-class>controller.DeleteFeedbackPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterPitchServlet</servlet-name>
        <servlet-class>controller.FilterPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCompetitorServlet</servlet-name>
        <servlet-class>controller.FindCompetitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseDetailServlet</servlet-name>
        <servlet-class>controller.PurchaseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductPurchaseHistoryServlet</servlet-name>
        <servlet-class>controller.AdminProductPurchaseHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingDetailServlet</servlet-name>
        <servlet-class>controller.BookingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingPitchHistoryServlet</servlet-name>
        <servlet-class>controller.AdminBookingPitchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Return</servlet-name>
        <servlet-class>controller.Return</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PitchManager</servlet-name>
        <servlet-class>controller.PitchManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPitchServlet</servlet-name>
        <servlet-class>controller.AddPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePitchServlet</servlet-name>
        <servlet-class>controller.DeletePitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPitchServlet</servlet-name>
        <servlet-class>controller.EditPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchHistoryServlet</servlet-name>
        <servlet-class>controller.MatchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerServlet</servlet-name>
        <servlet-class>controller.ProductManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>controller.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControl</servlet-name>
        <servlet-class>controller.UpdateProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControl</servlet-name>
        <servlet-class>controller.DeleteProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffServlet</servlet-name>
        <servlet-class>controller.CreateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>controller.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenuePitchServlet</servlet-name>
        <servlet-class>controller.RevenuePitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueProductServlet</servlet-name>
        <servlet-class>controller.RevenueProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPitchServlet</servlet-name>
        <servlet-class>controller.SearchPitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forget-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/verify-otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PitchServlet</servlet-name>
        <url-pattern>/PitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingTimeServlet</servlet-name>
        <url-pattern>/BookingTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryBookingPitchServlet</servlet-name>
        <url-pattern>/HistoryBookingPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistoryBookPitchServlet</servlet-name>
        <url-pattern>/DeleteHistoryBookPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesControlServlet</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductServlet</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProduct</servlet-name>
        <url-pattern>/SortProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackPitchServlet</servlet-name>
        <url-pattern>/feedbackPitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackProductServlet</servlet-name>
        <url-pattern>/deletefeedbackproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListHistory</servlet-name>
        <url-pattern>/OrderListHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyingServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowingServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnURLController</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackPitchServlet</servlet-name>
        <url-pattern>/deletefeedbackPitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterPitchServlet</servlet-name>
        <url-pattern>/filterPitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCompetitorServlet</servlet-name>
        <url-pattern>/FindCompetitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseDetailServlet</servlet-name>
        <url-pattern>/purchaseDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductPurchaseHistoryServlet</servlet-name>
        <url-pattern>/adminProductPurchaseHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingDetailServlet</servlet-name>
        <url-pattern>/bookingDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingPitchHistoryServlet</servlet-name>
        <url-pattern>/adminBookingPitchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Return</servlet-name>
        <url-pattern>/Return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PitchManager</servlet-name>
        <url-pattern>/PitchManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPitchServlet</servlet-name>
        <url-pattern>/AddPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePitchServlet</servlet-name>
        <url-pattern>/deletepitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPitchServlet</servlet-name>
        <url-pattern>/EditPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchHistoryServlet</servlet-name>
        <url-pattern>/MatchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerServlet</servlet-name>
        <url-pattern>/productmanagerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControl</servlet-name>
        <url-pattern>/updateproductcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControl</servlet-name>
        <url-pattern>/deleteproductcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffServlet</servlet-name>
        <url-pattern>/createstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staffcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/updatestaffservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/deletestaffservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenuePitchServlet</servlet-name>
        <url-pattern>/RevenuePitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueProductServlet</servlet-name>
        <url-pattern>/RevenueProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPitchServlet</servlet-name>
        <url-pattern>/SearchPitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
</web-app>
